.mapBorder{
	max-width: 256px;
	max-height: 256px;
	border: 1px solid red;
}

.tileSize {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.bog {
	background-color: lightblue;
}

.none {
	background-color: white;
}

.notVisable {
	background-color: black;
}

.tree {
	background-color: green;
}

.diamonds {
	background-image: url("http://web.cecs.pdx.edu/~thonnell/Diamond.png");
	background-size: 32px 32px;
}

.mountains {
	background-color: gray;
}

.grass {
	background-color: lightgreen;
}