body, html {
	height: 100%;
	margin: 0;
}

body {
	background: url("../Assets/Background1.png") no-repeat center;
	background-size: cover;
}

#container {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
	color: blue;
	margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -125%);
}

#stats {
	margin: 0;
    position: absolute;
    top: 8.5%;
    left: 20%;
    transform: translate(-50%, -50%);
	background-color: darkgray;
	padding: 10px;
	border: 1px solid saddlebrown;
}

.mapBorder{
	border: 1px solid cadetblue;
}

#Energy{
	color: #43b749;
    background-color: white;
	border: black solid 1px;

}

#Energy::-webkit-progress-bar{ background: white;}
#EnergyCount{
	display: inline-block;
    height: 32px;
    width: 64px;
    margin-left: 4px;
}
span {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.notVisable {
	background-color: black !important;
	background-image: none !important;
}

.notVisable > span {
	display: none;
}

/* Terrain types */
.meadow {
	background-image: url("../Assets/Meadow.png");
	background-size: 32px 32px;
}

.forest {
	background-image: url("../Assets/Forest.png");
	background-size: 32px 32px;
}

.water {
	background-image: url("../Assets/Water.png");
	background-size: 32px 32px;
}

.wall {
	background-image: url("../Assets/Wall.png");
	background-size: 32px 32px;
}

.bog {
	background-image: url("../Assets/Bog.png");
	background-size: 32px 32px;
}

.swamp {
	background-image: url("../Assets/Swamp.png");
	background-size: 32px 32px;
}

/* End Terrian types */

/* Content */

.tree {
	background-image: url("../Assets/Trees.png");
	background-size: 32px 32px;
}

.boulder {
	background-image: url("../Assets/Boulder.png");
	background-size: 32px 32px;
}

.bush {
	background-image: url("../Assets/Bush.png");
	background-size: 32px 32px;
}

.power-bar {
	background-image: url("../Assets/Powerbar.png");
	background-size: 32px 32px;
}

.type1-treasure {
	background-image: url("../Assets/Chest.png");
	background-size: 32px 32px;
}

.type2-treasure {
	background-image: url("../Assets/Chest.png");
	background-size: 32px 32px;
}

.diamonds {
	background-image: url("../Assets/Jewel.png");
	background-size: 32px 32px;
}

.clue {
	background-color: gray;
}

.hatchet {
	background-color: gray;
}

.axe {
	background-color: gray;
}

.chainsaw {
	background-image: url("../Assets/Chainsaw.png");
	background-size: 32px 32px;
}

.chisel {
	background-color: lightgreen;
}

.sledge {
	background-color: lightgreen;
}

.jackhammer {
	background-image: url("../Assets/Jackhammer.png");
	background-size: 32px 32px;
}

.machete {
	background-color: lightgreen;
}

.shears {
	background-image: url("../Assets/Shears.png");
	background-size: 32px 32px;
}

.binoculars {
	background-color: lightgreen;
}

.none {
	
}

/* End Content */