body, html {
	height: 100%;
	margin: 0;
}

body {
	background: url("../Assets/StartBackground.png") no-repeat center;
	background-size: cover;
}

h1 {
	color: blue;
}

#menuContainer {
	opacity: 0;
	margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

.fadeIn {
	opacity: 1 !important;
	animation: fadeIn 3s;
	animation-iteration-count: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#fadeOut {
	animation: fadeOut 3s;
	animation-iteration-count: 1;
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}