<html>
<head>
	<title>FRUPAL</title>
	<link rel="stylesheet" type="text/css" href="../CSS/frupal.css">
	<script src="../scripts/saveAndLoad.js"></script>
	<script src="../scripts/energyAndMovement.js"></script>
	<script src="../scripts/2dArray.js"></script>
	<script src="../scripts/scrtipsToRunOnLoad.js"></script>
	<script src="../scripts/verifyGame.js"></script>
	<script src="../scripts/jewels_spawn.js"></script>
	<script src="../scripts/waterCollision.js"></script>
	<script src="../scripts/addToInventory.js"></script>
	<script src="../scripts/energy.js"></script>
	<script src="../scripts/customAlerts.js"></script>
	<script src="../scripts/encounterChest.js"></script>
	<script src="../scripts/display_in.js"></script>
</head>
<body>
	<div id="container">
		<h1 id="title">FRUPAL</h1>
		<div id="printThis" align="center" class="mapBorder">
			<div id="stats">
				<progress id="Energy" value="0" max="0"></progress><span id="EnergyCount"></span>
				<p id="WhiffleCount" value= "0">Whiffles:</p>
				<button onclick="in_div_display()">Inventory</button>
				<div id="inventoryList" style="display: none;">
					<img style="float: left; margin-right: 10px;" title="Hatchet" src="../Assets/Hatchet.png" height="32px" width="32px"/><p id="hatchet"></p>
					<img style="float: left; margin-right: 10px;" title="Axe" src="../Assets/Axe.png" height="32px" width="32px"/><p id="axe"></p>
					<img style="float: left; margin-right: 10px;" title="Chainsaw" src="../Assets/Chainsaw.png" height="32px" width="32px"/><p id="chainsaw"></p>
					<img style="float: left; margin-right: 10px;" title="Chisel" src="../Assets/Chisel.png" height="32px" width="32px"/><p id="chisel"></p>
					<img style="float: left; margin-right: 10px;" title="Sledgehammer" src="../Assets/Sledgehammer.png" height="32px" width="32px"/><p id="sledge"></p>
					<img style="float: left; margin-right: 10px;" title="Jackhammer" src="../Assets/Jackhammer.png" height="32px" width="32px"/><p id="jackhammer"></p>
					<img style="float: left; margin-right: 10px;" title="Machete" src="../Assets/Machete.png" height="32px" width="32px"/><p id="machete"></p>
					<img style="float: left; margin-right: 10px;" title="Shears" src="../Assets/Shears.png" height="32px" width="32px"/><p id="shears"></p>
					<img style="float: left; margin-right: 10px;" title="Binoculars" src="../Assets/Binoculars.png" height="32px" width="32px"/><p id="binoculars"></p>
				</div>
			</div>
			<div id="noActionAlert" class="alert">
				<p>Custom Alert Text</p>
			</div>
			<div id="genericCustomAlert" class="alert">
				<p>Custom Alert Text</p>
				<button id="genericCustomAlertButton">OK</button>
			</div>
			<div id="decisionCustomAlert" class="alert">
				<p>Custom Alert Text</p>
				<button id="decisionCustomAlertAcceptButton">OK</button>
				<button id="decisionCustomAlertDenyButton">Cancel</button>
			</div>
			<img id="hero" src="../Assets/Player.png" height="32px" width="32px"/>
		</div>
	</div>
	<br><br>
</body>
</html>
