<script>localStorage.setItem('mapName', 'Sample Frupal Game'); localStorage.setItem('mapSize', '9'); localStorage.setItem('heroPosition', JSON.stringify('4,8')); localStorage.setItem('energy', '100'); localStorage.setItem('money', '0'); localStorage.setItem('inventory', JSON.stringify('["Axe", "some", "new", "items", "to", "have", "ok?", "Diamond Sword"]')); localStorage.setItem('tiles', JSON.stringify('[[4, 7, 1, 5, "Trees"], [3, 7, 1, 4, "Water"], [5, 7, 1, 1, "Diamonds"], [4, 8, 1, 2, "Mountains"], [5, 8, 1, 2, "Grass"], [3, 8, 1, 0, "None"]]')); </script>
<html>
<head>
	<title>FRUPAL</title>
	<h1 style="color:blue">FRUPAL</h1>
	<link rel="stylesheet" type="text/css" href="../CSS/frupal.css">
	<script src="../scripts/saveAndLoad.js"></script>
	<script src="../scripts/energyAndMovement.js"></script>
	<script src="../scripts/2dArray.js"></script>
	<script src="../scripts/2dArrayTempFile.js"></script>
	<script src="../scripts/verifyGame.js"></script>
</head>
<body>
	<progress id="Energy" value="0" max="0"></progress><p id="EnergyCount" value="Energy"></p>
	<img id="mario" src="https://mbtskoudsalg.com/images/mario-background-png-8.png" height="32px" width="32px"/>
	
	<div id="printThis" align="center" style="border:1px solid red;"></div>
	<br><br>
</body>

