<html>
<head>
	<title>FRUPAL</title>
	<link rel="stylesheet" type="text/css" href="../CSS/frupal.css">
	<script src="../scripts/saveAndLoad.js"></script>
	<script src="../scripts/energyAndMovement.js"></script>
	<script src="../scripts/2dArray.js"></script>
	<script src="../scripts/scrtipsToRunOnLoad.js"></script>
	<script src="../scripts/verifyGame.js"></script>
	<script src="../scripts/jewels_spawn.js"></script>
	<script src="../scripts/waterCollision.js"></script>
	<script src="../scripts/addToInventory.js"></script>
	<script src="../scripts/energy.js"></script>
	<script src="../scripts/customAlerts.js"></script>
	<script src="../scripts/encounterChest.js"></script>
</head>
<body>
	<div id="container">
		<h1 id="title">FRUPAL</h1>
		<div id="printThis" align="center" class="mapBorder">
			<div id="stats">
				<progress id="Energy" value="0" max="0"></progress><span id="EnergyCount"></span>
				<p id="WhiffleCount" value= "0">Whiffles:</p>
			</div>
			<div id="noActionAlert" class="alert">
				<p>Custom Alert Text</p>
			</div>
			<div id="genericCustomAlert" class="alert">
				<p>Custom Alert Text</p>
				<button id="genericCustomAlertButton">OK</button>
			</div>
			<div id="decisionCustomAlert" class="alert">
				<p>Custom Alert Text</p>
				<button id="decisionCustomAlertAcceptButton">OK</button>
				<button id="decisionCustomAlertDenyButton">Cancel</button>
			</div>
			<img id="hero" src="../Assets/Player.png" height="32px" width="32px"/>
		</div>
	</div>
	<br><br>
</body>
</html>
